.header {
	padding: 1rem;
	background-color: #ffffff; // Màu nền sáng
	color: #ffffff; // Màu chữ sáng

	&.dark-mode {
		background-color: #1f2937; // Màu nền tối
		color: #ffffff; // Màu chữ tối
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 20px 0 20px;
	}

	.leftHeader {
		display: flex;
		align-items: center;
		justify-content: center;
		// flex-grow: 1;
	}

	.logo {
		font-size: 3rem;
		font-weight: bold;
		min-width: 200px;
	}

	.menu {
		display: flex;
		flex-grow: 1;
		justify-content: center;

		ul {
			display: flex;
			gap: 1.5rem;
			margin: auto;
			li {
				a {
					color: #000;
					text-decoration: none;
					transition: color 0.3s ease;
					font-size: 16px;
					font-weight: bold;

					&:hover {
						color: #d1d5db; // Màu khi hover
					}
				}
				.link {
					color: #000;
					text-decoration: none;
					transition: color 0.3s ease;
					font-size: 16px;
					font-weight: bold;

					&:hover {
						color: #d1d5db; // Màu khi hover
						cursor: pointer;
					}
				}
			}
		}
	}

	.icons {
		display: flex;
		gap: 1.5rem;
		align-items: center;
		color: #000;

		.icon {
			color: inherit;
			text-decoration: none;
			transition: color 0.3s ease;
			font-size: 18px;

			&:hover {
				color: #d1d5db; // Màu khi hover
			}
			.anticon {
				font-size: 24px;
				margin-right: 10px;
			}

			.ant-input-search {
				width: 100%;

				.ant-input {
					border-radius: 4px;
					padding: 6px 12px;
					font-size: 16px;
				}
			}
		}
	}

	.dark-mode-toggle {
		margin-left: 1rem;
		padding: 0.5rem;
		border-radius: 0.25rem;
		background-color: #e5e7eb; // Màu nền sáng
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #d1d5db; // Màu nền khi hover sáng
		}

		&.dark-mode {
			background-color: #374151; // Màu nền tối

			&:hover {
				background-color: #4b5563; // Màu nền khi hover tối
			}
		}
	}
}
